<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>博客首页</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/blog.css" th:href="@{/css/blog.css}">
    <link rel="stylesheet" href="../../static/css/bbs.css" th:href="@{/css/bbs.css}">
</head>
<body>
<div>
    <!--导航-->
    <nav th:replace="fragments/fragments::nav(1)" ></nav>
<div class="paddings">
    <!--中间内容-->
    <div class=" index-container index-padding-tb-big">
        <div class="ui container">
            <div class="ui stackable grid">
                <!--博客列表-->
                <div class="eleven wide column">
                    <div class="ui top attached segment">
                        <div class="ui middle aligned two column grid">
                            <div class="column">
                                <h3 class="ui teal header">文章</h3>
                            </div>
                            <div class="right aligned column">
                                共
                                <h2 class="ui orange header index-inline-blog index-text-thin" th:text="${page.totalElements}"> 14 </h2>篇
                            </div>
                        </div>
                    </div>
                    <div class="ui attached  segment">
                        <div class="ui padded vertical segment index-padding-tb-big" th:each="blog : ${page.content}">
                            <div class="ui middle aligned mobile reversed stackable grid" >
                                <div class="ui eleven wide column">
                                    <h3 class="ui header"><a href="#" th:href="@{/blog/{id}(id=${blog.id})}" class="index-black" th:text="${blog.title}">标题</a></h3>
                                    <p class="index-text" th:text="${blog.description}+'...'">
                                        文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容</p>
                                    <div class="ui grid">
                                        <div class="eleven wide column">
                                            <div class="ui mini horizontal link list">
                                                <div class="item">
                                                    <img alt="" class="ui avatar image" th:src="@{${blog.user.avatar}}"
                                                         src="">
                                                    <div class="content"><a href="#" th:href="@{/user/{id}/profile(id=${blog.user.id})}" class="header" th:text="${blog.user.nickname}">作者</a></div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i><span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2020-03-01</span>
                                                </div>
                                                <div class="item">
                                                    <i class="eye icon"></i><span th:text="${blog.views}">123</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="right aligned five wide column">
                                            <a href="#" target="_blank"
                                               class="ui teal basic label index-padding-tiny index-text-thin" th:text="${blog.type.name}">认知升级</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="five wide column">
                                    <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                                        <img src=""
                                             alt="" class="ui rounded image" th:src="@{${blog.firstPicture}}">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui bottom attached segment" th:if="${page.totalPages}>1">
                        <div class="ui middle aligned two column grid">
                            <div class="column">
                                <a href="#" th:href="@{/blog/(page=${page.number}-1)}"  th:unless="${page.first}" class="ui mini teal basic button">上一页</a>

                            </div>
                            <div class="right aligned column">
                                <a href="#" th:href="@{/blog/(page=${page.number}+1)}"  th:unless="${page.last}" class="ui mini teal basic button">下一页</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--右边的内容-->
                <div class="five wide column">
                    <!--分类-->
                    <div class="ui segments">
                        <div class="ui secondary segment">
                            <div class="ui two column grid">
                                <div class="column">
                                    <i class="idea icon"></i>分类
                                </div>
                                <div class="right aligned column">
                                    <a href="#" th:href="@{/types/-1}" target="_blank">more <i class="angle double right icon"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="ui teal segment">
                            <div class="ui fluid vertical menu" >
                                <a href="#" th:href="@{/types/{id}(id=${type.id})}" class="item" th:each="type : ${types}">
                                    <span th:text="${type.name}">学习日志</span>
                                    <div class="ui teal basic left pointing label" th:text="${#arrays.length(type.blogs)}">13</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--标签-->
                    <div class="ui segments">
                        <div class="ui secondary segment">
                            <div class="ui two column grid">
                                <div class="column">
                                    <i class="tags icon"></i>标签
                                </div>
                                <div class="right aligned column">
                                    <a href="#" th:href="@{/tags/-1}" target="_blank">more <i class="angle double right icon"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="ui teal segment">
                            <a href="#" th:href="@{/tags/{id}(id=${tag.id})}" th:each="tag : ${tags}"  class="ui teal basic left pointing label index-margin-tb-tiny">
                                <span th:text="${tag.name}">Java</span>
                                <div class="detail" th:text="${#arrays.length(tag.blogs)}">23</div>
                            </a>
                        </div>
                    </div>
                    <!--                    &lt;!&ndash;最新推荐&ndash;&gt;-->
                    <!--                    <div class="ui segments index-margin-top-large">-->
                    <!--                        <div class="ui secondary segment">-->
                    <!--                            <i class="bookmark icon"></i>最新推荐-->
                    <!--                        </div>-->
                    <!--                        <div class="ui segment " th:each="blog : ${recommendBlogs}">-->
                    <!--                            <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="index-text-thin index-black" th:text="${blog.title}">用户故事</a>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>


    <!--底部footer-->
    <footer th:replace="fragments/fragments::footer"></footer>
</div>
<!--/*/<th:block th:replace="fragments/fragments::script">/*/-->
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
<!--/*/</th:block>/*/-->

<script>
    $('.menu.toggle').click(function () {
        $('.index-item').toggleClass('index-mobile-hide');
    });
</script>
</body>
</html>
