<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>后台管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/blog.css" th:href="@{/css/blog.css}">
    <link rel="stylesheet" href="../../static/css/bbs.css" th:href="@{/css/bbs.css}">
</head>
<body>

<!--导航-->
<nav th:replace="fragments/fragments::nav(0)" class="ui inverted attached segment index-padding-tb-mini"></nav>
<div class="paddings">
    <div class="index-container index-padding-tb-big">
        <div class="ui container">
            <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                <i class="close icon"></i>
                <div class="header">提示：</div>
                <p th:text="${message}">操作信息</p>
            </div>
            <table class="ui table">
                <thead>
                <tr>
                    <th>用户ID</th>
                    <th>头像</th>
                    <th>用户名</th>
                    <th>用户昵称</th>
                    <th>邮箱</th>
                    <th>性别</th>
                    <th>创建时间</th>
                    <th colspan="4">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user:${page.records}">
                    <td th:text="${user.id}">用户ID</td>
                    <td><img th:src="@{${user.avatar}}" class="ui avatar image"></td>
                    <td th:text="${user.username}">用户名</td>
                    <td th:text="${user.nickname}">用户昵称</td>
                    <td th:text="${user.email}">邮箱</td>
                    <td th:text="${user.sex}">性别</td>
                    <td th:text="${#dates.format(user.createTime,'yyyy-MM-dd HH:mm:ss')}">创建时间</td>
                    <td>
                        <a th:href="@{/admin/{id}/blogs(id=${user.id})}" class="ui mini blue button"
                           target="_blank">博客</a>
                        <a th:href="@{/admin/{id}/questions(id=${user.id})}" class="ui mini blue button"
                           target="_blank">问题</a>
                        <a th:href="@{/admin/user/{id}/input(id=${user.id})}" class="ui mini teal button">编辑</a>
                        <a th:href="@{/admin/user/{id}/delete(id=${user.id})}" class="ui mini red button">删除</a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="6">
                        <div class="ui right floated mini pagination menu" th:if="${page.pages}>1">
                            <!--                            <a href="" class="icon item">-->
                            <!--                                <i class="left chevron icon"></i>-->
                            <!--                            </a>-->
                            <!--                            <a href="#" class="item">1</a>-->
                            <!--                            <a href="#" class="item">1</a>-->
                            <!--                            <a href="#" class="item">1</a>-->
                            <!--                            <a href="#" class="item">1</a>-->
                            <!--                            <a href="#" class="icon item"><i class="right chevron icon"></i></a>-->
                            <a href="#" th:href="@{/admin(current=${page.current}-1)}" class="item"
                               th:unless="${page.current==1}">上一页</a>
                            <a href="#" th:href="@{/admin(current=${page.current}+1)}" class="item"
                               th:unless="${page.current!=page.pages}">下一页</a>
                        </div>
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>

    </div>
</div>
<!--中间内容-->

<!--底部footer-->
<footer th:replace="fragments/fragments::footer"></footer>
<!--/*/<th:block th:replace="fragments/fragments::script">/*/-->
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>
    $('.menu.toggle').click(function () {
        $('.index-item').toggleClass('index-mobile-hide');
    });

    $('.ui.user.dropdown').dropdown({
        on: 'hover',
    });

    $('.ui.type.dropdown').dropdown();

    $('.message .close').on('click', function () {
        $(this).closest(".message").transition('fade');
    })
</script>
</body>
</html>
