<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/blog.css" th:href="@{/css/blog.css}">
    <link rel="stylesheet" href="../../static/css/bbs.css" th:href="@{/css/bbs.css}">
</head>
<body>
    <!--导航-->
    <nav th:replace="fragments/fragments::nav(0)"></nav>
    <div class="paddings">
        <div class=" index-container-small index-padding-tb-massive">
            <div class="ui error message index-padding-tb-huge">
                <div class="ui container">
                    <h2>404</h2>
                    <p>访问资源不存在</p>
                </div>
            </div>
        </div>
    </div>
<!--底部footer-->
<footer th:replace="fragments/fragments::footer"></footer>

<!--/*/<th:block th:replace="fragments/fragments::script">/*/-->
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
</body>
</html>