<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>新增分类</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/blog.css" th:href="@{/css/blog.css}">
    <link rel="stylesheet" href="../../static/css/bbs.css" th:href="@{/css/bbs.css}">
</head>
<body>
<div>
    <!--导航-->
    <nav th:replace="fragments/fragments::nav(0)"
         class="ui inverted attached segment index-padding-tb-mini"></nav>

    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="right menu">
                <a href="#" class="teal active item">发布</a>
                <a href="#" class="item">列表</a>
            </div>
        </div>
    </div>
    <div class="paddings">
        <!--中间内容-->
        <div class="index-container index-padding-tb-big">
            <div class="ui container">

                <form th:action="*{id}==null ? @{/user/types} : @{/user/types/{id}(id=*{id})}" class="ui form" method="post" th:object="${type}">
                    <input type="hidden" name="id" th:value="*{id}">
                    <div class="required field">
                        <div class="ui left labeled input">
                            <label for="" class="ui teal basic label">名称</label>
                            <input type="text" name="name" placeholder="分类名称" th:value="*{name}">
                        </div>
                    </div>

                    <div class="ui error message"></div>

                    <div class="ui negative message" th:if="${#fields.hasErrors('name')}">
                        <i class="close icon"></i>
                        <div class="header">验证失败</div>
                        <p th:errors="*{name}">提交信息不符合规则</p>
                    </div>


                    <div class="ui right aligned container">
                        <button class="ui button" type="button" onclick="window.history.go(-1)">返回</button>
                        <button class="ui teal submit button">新增</button>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>

                </form>

            </div>
        </div>
    </div>

    <!--底部footer-->
    <footer th:replace="fragments/fragments::footer"></footer>

</div>
<!--/*/<th:block th:replace="fragments/fragments::script">/*/-->
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
<script src="../../../static/lib/editormd/editormd.min.js"></script>
<!--/*/</th:block>/*/-->
<script>

    $('.menu.toggle').click(function () {
        $('.index-item').toggleClass('index-mobile-hide');
    });

    $('.ui.user.dropdown').dropdown({
        on: 'hover',
    });

    $('.ui.type.dropdown').dropdown();

    $('.ui.form').form({
        fields: {
            title: {
                identifier: 'name',
                rules: [{
                    type: 'empty',
                    prompt: '请输入分类名称'
                }]
            }
        }
    })
</script>
</body>
</html>
